/* general  */
body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1440px;
    font-family: Space Mono;
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Menu Header */
.menu_header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin-top: 31px;
}

.menu_header img {
    height: 14px;
    width: 216px;


}

.header {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-transform: uppercase;
}
.contact{
    background-color: #fff;
    border: none;
    margin-top: -1px;
    font-family: Space Mono;
    font-size: 16px;
    cursor: pointer;
}

/* Menu Footer */
.menu_header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin-top: 31px;
}

.footer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 86px;
    justify-content: center;


}

.menu_footer {

    text-transform: uppercase;
    gap: 86px;

}

footer {

    border-top: 1px black solid;
    justify-content: center;
    display: flex;
}

/* Overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    width: 597px; /* Full width */
    height: 769px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 5px solid #000000;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Formulaire de contact */
.contact1{
    display: flex;
    justify-content: center;
}
.contact1_envoyer{
    display: flex;
    justify-content: center;
}
.wpcf7-form-control{
    background-color: #fff;

}
/* Message  */
.wpcf7-textarea{
    height: 142px;
width: 263px;
border: 1px solid #000000;

} 

/* Nom email et ref photo */
.wpcf7-text{
height: 40px;
width: 263px;
border: 1px solid #000000;
}
/* Bouton envoyé  */


.wpcf7-submit{
border-left: 4px black solid;
border-top: none;
border-right: none;
border-bottom: none;
height: 38px;
width: 214px;
font-family: Space Mono;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.1em;
text-align: center;

}
/* backround_contact */
.backround_contact{
    background: url(Contact.png)
}

/* Single_photo */

.post_contant{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.post_contant h1 { 
    font-family: Space Mono;
font-size: 66px;
font-style: italic;
font-weight: 400;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
}
.post_contant p {
    font-family: Space Mono;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.1em;
text-align: left;
}

.post_image img {
    width: 34vmax;
  height: 50vmax;
  object-fit: contain;
}
.post_description{
    padding-bottom: 2%;
    border-bottom: #000 1px solid;
}
.post_separation{
    border-bottom: #000 1px solid;
}

/* Interesse */

#myBtn2{
    border-left: 4px black solid;
    padding-left: 19px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 10px;

}

.interesse {
    display: flex;
    justify-content: space-between;
}


.photo_choix{
    display: flex;
    margin-top: 2%;
}
.right , .left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn_interesse {
    display: flex;
    align-items: center;
}
.section_interesse{
    border-bottom: 1px black solid;
}